<!DOCTYPE html>
<html lang="en">
<head>
<title>Raccoon Dash</title>
</head>
<body>
<iframe id="weather" src="{{ url_for('fetch_weather') }}" name="CW2" scrolling="no" width="318" height="318" frameborder="0">Loading Weather...</iframe>
<iframe id="cal" src="{{ url_for('fetch_cal') }}" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no">Loading Calendar...</iframe>

<script>
window.setInterval(async() => {
  await reloadIFrame()
}, 3000);
async reloadIFrame() {
  console.log('reloading...');
  document.getElementById('cal').contentWindow.location.reload();
  document.getElementById('weather').contentWindow.location.reload();
}
</script>
</body>
</html>